* {
  margin: 0px; /* Resets the sizing */
  padding: 0px;
  box-sizing: boarder-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;/*moves everything to one line*/
  background: lightblue;
  width: 90%;
}